<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido, {{name}}</h1>
    {{#if success}}
    <p>{{success}}</p>
    {{/if}}
    <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
</body>
</html>
